<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
    <style>
        .box {
            width: 200px;
            height: 200px;
            color: red;
        }
    </style>
</head>

<body>
    <div id="app">
        <p>R: <input type="text" v-model="r"></p>
        <p>G: <input type="text" v-model="g"></p>
        <p>B: <input type="text" v-model="b"></p>
        <hr>
        <div class="box" :style="{backgroundColor:`rgb(${r},${g},${b})`}">rgb({{ r }},{{ g }},{{ b }})</div>
        <button @click="show">按钮</button>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                r: 0,
                g: 0,
                b: 0
            },
            methods: {
                show() {
                    console.log(`rgb(${this.r},${this.g},${this.b})`);
                }
            }
        })
    </script>
</body>

</html>